/* Reset */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.error-text {
  color: #e63946;
  font-size: 14px;
  margin-top: 8px;
}

body {
  margin: 0;
  background: #f4f6f8;
}

.secret-card {
  height: 6rem;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.secret-row {
  width: 40%;
  margin-bottom: 8px;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.secret-addition-form {
  width: 40%;
}

.secrets-showing-container {
  width: 46%;
}

.vault-locker-home {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vault-lock-btn {
  margin-bottom: 1em;
}

.secrets-showing-container {
  margin: 0 auto;
}

.secret-info {
  display: flex;
  flex-direction: column;
}

.secret-actions button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.secret-block {
  padding-top: 1em;
  position: relative;
  margin-top: 1em;
  background-color: #ccc;
  height: 3rem;
  border-radius: 10px;
}

.secret-card .delete-btn {
  width: 4rem;
  padding: 0.4em 0.2em;
  background-color: #dc2626;
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: center;
  margin-left: 1em;
}

/* Center container */
.container {
  max-width: 420px;
  margin: 60px auto;
  background: #ffffff;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

/* Headings */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
input,
textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #4f46e5;
}

/* Buttons */
button {
  width: 100%;
  padding: 14px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

/* Lock button */
.lock-btn {
  background: #ef4444;
  margin-bottom: 16px;
}

.lock-btn:hover {
  background: #dc2626;
}

/* Error */
.error {
  color: #ef4444;
  font-size: 13px;
  text-align: center;
}

/* Secret list */
.secret {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.secret strong {
  display: block;
}

.delete-btn:hover {
  background: #dc2626;
}
